:root {
  --primary-gray: #29292A;
  --secondary-gray: #52544E;
  --tertiary-gray: #6e6e6e;
  --primary-black: #161617;
  --primary-yellow: #DB9619;
  --secondary-yellow: #8F5F08;
  --primary-white: #F6F7F5;
  --secondary-white: #EAECE8;
}

body {
  background: var(--primary-white);
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-tap-highlight-color: transparent;
  min-width: 380px;
}

.background-img {
  position: absolute;
  top: 68;
  background-image: linear-gradient(to bottom, rgba(41, 41, 42, 0.9058823529), rgba(41, 41, 42, 0.9058823529)), url("data:image/svg+xml,%3Csvg width='131' height='131' viewBox='0 0 131 131' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M31 0H51V131H31V0Z' fill='%23D9D9D9'/%3E%3Cpath d='M0 54V34H131V54H0Z' fill='%23D9D9D9'/%3E%3Cpath d='M78 0H98V131H78V0Z' fill='%23D9D9D9'/%3E%3Cpath d='M0 102V82H131V102H0Z' fill='%23D9D9D9'/%3E%3C/svg%3E%0A");
  /*background:
  linear-gradient(to bottom,  #29292ab2, #29292ab2),
  url('../images/BackgroundImg.jpg');*/
  width: 100%;
  min-width: 380px;
  height: 750px;
  z-index: -1;
}

ul {
  list-style-type: none;
  padding: 0;
}

header {
  background: var(--secondary-white);
  padding: 20px 36px;
}
header .container {
  display: flex;
  place-content: space-between;
  align-items: center;
  left: 0;
}
header .container a {
  display: flex;
}
header .container a img {
  width: 60px;
}
header .container .open-menu-btn {
  float: right;
  cursor: pointer;
}

.hero {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 750px;
}
.hero .container {
  padding-top: 200px;
}
.hero h1 {
  font-size: 5rem;
  text-transform: uppercase;
  margin: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  line-height: 66px;
  color: var(--primary-white);
}
.hero h1 .first-text {
  filter: drop-shadow(4px 5px 0px var(--tertiary-gray));
}
.hero h1 .middle-text {
  transform: translateY(-200px);
  font-size: 2.58rem;
}
.hero h1 .last-text {
  font-size: 5.1rem;
  color: var(--primary-yellow);
  filter: drop-shadow(4px 5px 0px var(--secondary-yellow));
}
.hero .services-button {
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 10px;
  border: 10px solid var(--primary-yellow);
  background: var(--primary-yellow);
  margin: 20px auto;
  align-items: center;
  justify-content: end;
  transition: padding-right 0.3s ease-out;
}
.hero .services-button p {
  margin: 0;
  color: var(--primary-white);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.3rem;
}
.hero .services-button svg {
  position: absolute;
  opacity: 0;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}
.hero .services-button:hover {
  cursor: pointer;
  padding-right: 30px;
}
.hero .services-button:hover svg {
  opacity: 1;
  transform: translateX(30px);
}

.services {
  margin-bottom: 100px;
  width: 100%;
  text-align: center;
}
.services h2 {
  text-transform: uppercase;
  font-size: 2.5rem;
  margin-bottom: -30px;
}
.services .services-list {
  margin-top: 96px;
}
.services .services-line {
  position: absolute;
  transform: translateX(-128px);
  z-index: -1;
}
.services .services-line2 {
  opacity: 0;
  position: absolute;
}
.services .service-item {
  display: flex;
  align-items: center;
  text-align: left;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0px auto;
}
.services .service-item .icon {
  display: flex;
  width: 100px;
  height: 100px;
  min-width: 100px;
  border-radius: 200px;
  border: 5px solid var(--primary-yellow);
  background: var(--primary-white);
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.services .service-item .icon svg {
  width: 65px;
  height: 65px;
}
.services .service-item p {
  text-transform: uppercase;
  margin-left: 30px;
  font-size: 1.25rem;
  min-width: 220px;
}
.services .service-item:hover {
  cursor: pointer;
}
.services .service-item:hover .icon {
  background: var(--primary-yellow);
}
.services .service-item:hover .icon > svg > path { /*target the image with css*/
  fill: var(--primary-white);
}

.service-request {
  padding: 50px;
  background: var(--secondary-white);
}
.service-request .tittle {
  margin-bottom: 30px;
  color: var(--primary-gray);
}
.service-request .tittle h2 {
  line-height: 5px;
}
.service-request p {
  display: inline;
}
.service-request a {
  color: var(--primary-yellow);
}
.service-request a:hover {
  cursor: pointer;
}
.service-request form {
  text-align: left;
  color: var(--primary-gray);
}
.service-request .request-service-button {
  background: none;
  border-radius: 450px;
  padding: 0px 10px;
  font-size: 1rem;
  font-weight: bold;
  border: 4px solid var(--primary-yellow);
  color: var(--primary-yellow);
  width: 100px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.service-request .request-service-button:hover {
  color: var(--secondary-white);
  background-color: var(--primary-yellow);
}

input, select, textarea {
  font-family: "Poppins", sans-serif;
  padding: 20px;
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  border: none;
  box-sizing: border-box;
}

@media only screen and (min-width: 550px) {
  .hero {
    justify-content: left;
    text-align: left;
  }
  .hero .container {
    padding-left: 20vw;
  }
  .hero .services-button {
    margin-left: 0;
  }
  .service-request {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .service-request .grid {
    display: grid;
    grid-template-columns: minmax(auto, 800px);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .service-request input, .service-request select, .service-request textarea {
    margin-bottom: 0;
  }
  .service-request form {
    margin: 0;
    display: grid;
    gap: 10px 10px;
    grid-template-columns: minmax(auto, 150px) minmax(auto, 150px) minmax(auto, 150px) minmax(auto, 150px) minmax(auto, 150px) minmax(auto, 150px);
    grid-template-rows: auto;
    grid-template-areas: "name name name email email email" "services services localities localities date date" "message message message message message message" ". . . . . button";
  }
  .service-request form .name {
    grid-area: name;
  }
  .service-request form .email {
    grid-area: email;
  }
  .service-request form .services-select {
    grid-area: services;
  }
  .service-request form .localities {
    grid-area: localities;
  }
  .service-request form .date {
    grid-area: date;
  }
  .service-request form .message {
    grid-area: message;
  }
  .service-request form .request-service-button {
    grid-area: button;
    justify-self: right;
  }
}
@media only screen and (min-width: 1020px) {
  .hero h1 {
    font-size: 6rem;
    line-height: 76px;
  }
  .hero h1 .middle-text {
    font-size: 3.1rem;
  }
  .hero h1 .last-text {
    font-size: 6.1rem;
  }
  .hero .container {
    padding-left: 30vw;
  }
  .services {
    margin-bottom: 0px;
  }
  .services .services-line {
    display: none;
  }
  .services .services-line2 {
    opacity: 1;
    display: absolute;
    width: 250px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    transform: translateX(-480px) translateY(10px);
  }
  .services .services-line2.two {
    transform: translateX(-365px) translateY(180px);
  }
  .services .services-line2.three {
    transform: translateX(-230px) translateY(297px);
  }
  .services .services-line2.four {
    transform: translateX(-115px) translateY(430px) rotate(-5deg);
  }
  .services .services-line2.five {
    transform: translateX(20px) translateY(560px);
  }
  .services .services-list {
    margin: 50px 20px;
    display: flex;
    justify-content: center;
    transform: translateX(-100px);
  }
  .services li {
    display: grid;
    align-items: center;
    grid-template-columns: 120px 120px 120px 120px;
    grid-template-rows: auto;
    grid-template-areas: "build . . ." ". refurbishments . ." ". . specialties ." ". . . technical-assistance";
  }
  .services .service-item.build {
    grid-area: build;
  }
  .services .service-item.refurbishments {
    grid-area: refurbishments;
  }
  .services .service-item.specialties {
    grid-area: specialties;
  }
  .services .service-item.technical-assistance {
    grid-area: technical-assistance;
  }
}/*# sourceMappingURL=main.css.map */