:root {
    --primary-gray: #29292A;
    --secondary-gray: #52544E;
    --tertiary-gray: #6e6e6e;

    --primary-black: #161617;

    --primary-yellow: #DB9619;
    --secondary-yellow: #8F5F08;

    --primary-white: #F6F7F5;
    --secondary-white: #EAECE8;
    
    
}


body {
    background: var(--primary-white);
    margin: 0;
    font-family: 'Poppins', sans-serif;
    -webkit-tap-highlight-color: transparent;
    min-width: 380px;
}

.background-img {
    position: absolute;
    top: 68;
    background-image: 
    linear-gradient(to bottom,  #29292ae7, #29292ae7),
    url("data:image/svg+xml,%3Csvg width='131' height='131' viewBox='0 0 131 131' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M31 0H51V131H31V0Z' fill='%23D9D9D9'/%3E%3Cpath d='M0 54V34H131V54H0Z' fill='%23D9D9D9'/%3E%3Cpath d='M78 0H98V131H78V0Z' fill='%23D9D9D9'/%3E%3Cpath d='M0 102V82H131V102H0Z' fill='%23D9D9D9'/%3E%3C/svg%3E%0A");
    /*background:
    linear-gradient(to bottom,  #29292ab2, #29292ab2),
    url('../images/BackgroundImg.jpg');*/
    //background-size: cover;
    //background-repeat: no-repeat;    
    width: 100%;
    min-width: 380px;
    height: 750px;
    z-index: -1;
}

ul {
    list-style-type: none;
    padding: 0;
}


header {
    background: var(--secondary-white);
    padding: 20px 36px;

    

    .container {
        display: flex;
        place-content: space-between;
        align-items: center;
        left: 0;

        a {
            display: flex;
            img {
                width: 60px;
            }
        }

        .open-menu-btn {
            float: right;
            cursor: pointer;
        }
        
    }
    
}


.hero {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 750px;  
    
    .container {
        padding-top: 200px;
    }

    h1 {
        font-size: 5rem;
        text-transform: uppercase;
        margin: 0;
        width: fit-content;
        line-height: 66px;
        color: var(--primary-white);

        .first-text {
            filter: drop-shadow(4px 5px 0px var(--tertiary-gray));
            //font-size: calc(20vw - 2rem);
        }
        
        .middle-text {
            //font-size: calc(20vw - 2rem);
            transform: translateY(-200px);
            font-size: 2.58rem;
            
              
        }
        .last-text {
            font-size: 5.1rem;
            color: var(--primary-yellow);
            filter: drop-shadow(4px 5px 0px var(--secondary-yellow));
            //font-size: calc(20vw - 2rem);
        }
        

    }

    .services-button {
        
        display: flex;
        width: fit-content;
        height: fit-content;
        border-radius: 10px;
        border: 10px solid var(--primary-yellow);
        background: var(--primary-yellow);
        margin: 20px auto;
        align-items: center;
        justify-content: end;
        transition: padding-right 0.3s ease-out;
        p {
            margin: 0;
            color: var(--primary-white);
            text-transform: uppercase;
            font-weight: 700;
            font-size: 1.3rem;
        }

        svg {
            position: absolute;
            opacity: 0;
            transition: transform 0.3s ease-out, opacity 0.3s ease-out;
        }

        &:hover {
            cursor: pointer;
            padding-right: 30px;
            svg {
                opacity: 1;
                transform: translateX(30px);
            }
            
            
            
        }
    }
}

//div {
    //Background About Pattern
    //background-image: url("data:image/svg+xml,%3Csvg width='62' height='101' viewBox='0 0 62 101' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.353516 0.646484L61.3535 61.6465M0.353516 20.6294L61.3535 81.6294M0.353516 39.6636L61 100' stroke='%23EAEBE9'/%3E%3C/svg%3E%0A");    height: 100vh;
//}





.services {
    margin-bottom: 100px;
    width: 100%;
    text-align: center;

    h2 {
        text-transform: uppercase;
        font-size: 2.5rem;
        margin-bottom: -30px;

    }

    .services-list {
        margin-top: 96px;
    }

    .services-line {
        position: absolute;
        transform: translateX(-128px);
        z-index: -1;
    }

    .services-line2 {
        opacity: 0;
        position: absolute;
    }

    .service-item {
        display: flex;
        align-items: center;
        text-align: left;
        width: fit-content;
        height: fit-content;
        margin: 0px auto;
        
        .icon {
            display: flex;
            width: 100px;
            height: 100px;
            min-width: 100px;
            border-radius: 200px;
            border: 5px solid var(--primary-yellow);
            background: var(--primary-white);
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;

            svg {
                width: 65px;
                height: 65px;
            }
            
           
            
        }
        p {
            text-transform: uppercase;
            margin-left: 30px;
            font-size: 1.25rem;
            min-width: 220px;

        }

        &:hover {
            cursor: pointer;
            .icon {
                background: var(--primary-yellow);
                
            }
            .icon>svg>path{ /*target the image with css*/
                fill: var(--primary-white);
            }
        }
        

    }
}

.service-request {
    
    padding: 50px;
    background: var(--secondary-white);
    
    .tittle {
        margin-bottom: 30px;
        color: var(--primary-gray);
        h2 {
            line-height: 5px;
        }
    }
    
    p {
        display:inline;
    }
    
    a {
        color: var(--primary-yellow);
        &:hover {
            cursor: pointer;
        }
    }

    form {
        text-align: left;
        color: var(--primary-gray);
    }
    

    .request-service-button {
        background: none;
        border-radius: 450px;
        padding: 0px 10px;
        font-size: 1rem;
        font-weight: bold;
        border: 4px solid var(--primary-yellow);
        color: var(--primary-yellow);
        width: 100px;
        height: fit-content;

        &:hover {
            color: var(--secondary-white);
            background-color: var(--primary-yellow);
        }
        
    }
}

input, select, textarea {
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    width: 100%;
    padding: .8rem;
    margin-bottom: 1rem;
    border-radius: .5rem;
    border: none;
    box-sizing: border-box;
}

@media only screen and (min-width: 550px){

    .hero {
        justify-content: left;
        text-align: left;

        .container {
            padding-left: 20vw;
        }

        .services-button {
            margin-left: 0;
        }
    }

    .service-request {

        display: flex;
        justify-content: center;
        align-items: center;
        
        .grid {
            display: grid;
            grid-template-columns: minmax(auto, 800px);
            width: fit-content;

        }

        input, select, textarea {
            margin-bottom: 0;
        }

        form {
            margin: 0;
            display: grid;
            gap: 10px 10px;
            grid-template-columns: minmax(auto, 150px) minmax(auto, 150px) minmax(auto, 150px) minmax(auto, 150px) minmax(auto, 150px) minmax(auto, 150px);
            grid-template-rows: auto;
            grid-template-areas: 
            "name name name email email email"
            "services services localities localities date date"
            "message message message message message message"
            ". . . . . button";

            .name {
                grid-area: name;
            }
            .email {
                grid-area: email;
            }

            .services-select {
                grid-area: services;
            }

            .localities {
                grid-area: localities;
            }
            
            .date {
                grid-area: date;
            }

            .message {
                grid-area: message;
            }

            .request-service-button {
                grid-area: button;
                justify-self: right;
            }

        }
    }


}


@media only screen and (min-width: 1020px){

    .hero {
        h1 {
            font-size: 6rem;
            line-height: 76px;

            .middle-text {
                font-size: 3.1rem;
            }

            .last-text {
                font-size: 6.1rem;
            }
        }

        .container {
            padding-left: 30vw;
        }

        
    }

    .services {

        margin-bottom: 0px;
        .services-line {
            display: none;
        }
    
        .services-line2 {
            opacity: 1;
            display: absolute;
            width: 250px;
            height: fit-content;
            transform: translateX(-480px) translateY(10px);
    
        }

        .services-line2.two {
            transform: translateX(-365px) translateY(180px);
    
        }
        
        .services-line2.three {
            transform: translateX(-230px) translateY(297px);
    
        }

        .services-line2.four {
            transform: translateX(-115px) translateY(430px) rotate(-5deg);
            
    
        }

        .services-line2.five {
            transform: translateX(20px) translateY(560px);
    
        }


        .services-list {
            margin: 50px 20px;
            display: flex;
            justify-content: center;
            transform: translateX(-100px);
        }

        li {
            display: grid;
            align-items: center;
            grid-template-columns: 120px 120px 120px 120px;
            grid-template-rows: auto;
            grid-template-areas: 
            "build . . ."
            ". refurbishments . ."
            ". . specialties ."
            ". . . technical-assistance";
            
        }

        .service-item {
        }

        .service-item.build {
            grid-area: build;
        }
        .service-item.refurbishments {
            grid-area: refurbishments;
        }

        .service-item.specialties {
            grid-area: specialties;
        }

        .service-item.technical-assistance {
            grid-area: technical-assistance;
        }
    }

    
}




