:root {
  --primary-gray: #29292A;
  --secondary-gray: #52544E;
  --tertiary-gray: #4d4e4b;
  --primary-black: #161617;
  --primary-yellow: #DB9619;
  --secondary-yellow: #8F5F08;
  --primary-white: #F6F7F5;
  --secondary-white: #EAECE8;
}

body {
  background: var(--primary-white);
  margin: 0;
  font-family: "Poppins", sans-serif;
  min-width: 380px;
}

.background-img {
  position: absolute;
  top: 0;
  background: linear-gradient(to bottom, rgba(41, 41, 42, 0.7725490196), rgba(41, 41, 42, 0.4039215686)), url("../images/BackgroundImg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-width: 380px;
  height: 1000px;
  z-index: -1;
}

nav {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 70%;
  z-index: 2;
  background-color: var(--secondary-white);
  filter: drop-shadow(0px 0px 5px rgba(41, 41, 42, 0.1568627451));
  transform: translateX(100%);
  transition: transform 0.5s ease-out;
}

.open-nav {
  transform: translateX(0%);
}

.close-menu-btn {
  float: right;
  margin: 30px 40px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 96px;
}
ul a {
  color: var(--primary-gray);
  font-size: 1.25rem;
  padding: 21px 32px;
  display: block;
  text-decoration: none;
}
ul a:hover {
  -webkit-text-decoration: underline var(--primary-yellow);
          text-decoration: underline var(--primary-yellow);
}
ul button {
  width: calc(100% - 64px);
  color: var(--secondary-white);
  cursor: pointer;
  padding: 21px 32px;
  margin: 21px 0px 21px 32px;
  border-radius: 45px;
  font-weight: bold;
  font-size: 20px;
  border: none;
  background: var(--primary-yellow);
}
ul button:hover {
  filter: grayscale(0.2);
}

header {
  background: var(--secondary-white);
  padding: 19px 36px;
}
header img {
  width: 60px;
}
header .container {
  display: absolute;
  place-content: space-between;
  align-items: center;
  left: 0;
}
header .container .open-menu-btn {
  float: right;
  z-index: 200;
  cursor: pointer;
}

.hero {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 907px;
}
.hero .container {
  padding-top: 200px;
}
.hero h1 {
  font-size: 5rem;
  text-transform: uppercase;
  margin: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  line-height: 66px;
  color: var(--primary-white);
}
.hero h1 .first-text {
  filter: drop-shadow(4px 5px 0px var(--tertiary-gray));
}
.hero h1 .middle-text {
  font-size: 2.58rem;
}
.hero h1 .last-text {
  color: var(--primary-yellow);
  filter: drop-shadow(4px 5px 0px var(--secondary-yellow));
}
.hero .services-button {
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 10px;
  border: 10px solid var(--primary-yellow);
  background: var(--primary-yellow);
  margin: 20px auto;
  align-items: center;
  justify-content: end;
  -webkit-animation: stretchLeft 0.3s ease-out 0s 1 normal forwards;
          animation: stretchLeft 0.3s ease-out 0s 1 normal forwards;
}
.hero .services-button p {
  margin: 0;
  color: var(--primary-white);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.3rem;
}
.hero .services-button svg {
  position: absolute;
  -webkit-animation: fadeOut 0.3s ease-out 0s 1 normal forwards;
          animation: fadeOut 0.3s ease-out 0s 1 normal forwards;
}
.hero .services-button:hover {
  cursor: pointer;
  -webkit-animation: stretchRight 0.3s ease-out 0s 1 normal forwards;
          animation: stretchRight 0.3s ease-out 0s 1 normal forwards;
}
.hero .services-button:hover svg {
  -webkit-animation: fadeIn 0.3s ease-out 0s 1 normal forwards;
          animation: fadeIn 0.3s ease-out 0s 1 normal forwards;
}

.services {
  margin-bottom: 150px;
  width: 100%;
  text-align: center;
}
.services h2 {
  text-transform: uppercase;
  font-size: 2.5rem;
  margin-bottom: -30px;
}
.services .services-line {
  position: absolute;
  left: 102px;
  z-index: -1;
}
.services .service-item {
  display: flex;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 20px 50px;
}
.services .service-item .icon {
  display: flex;
  width: 100px;
  height: 100px;
  min-width: 100px;
  border-radius: 200px;
  border: 5px solid var(--primary-yellow);
  background: var(--primary-white);
  justify-content: center;
  align-items: center;
}
.services .service-item .icon svg {
  width: 60px;
  height: 60px;
}
.services .service-item p {
  text-transform: uppercase;
  margin-left: 30px;
  font-size: 1.25rem;
}
.services .service-item:hover {
  cursor: pointer;
}
.services .service-item:hover .icon {
  background: var(--primary-yellow);
}
.services .service-item:hover .icon > svg > path { /*target the image with css*/
  fill: var(--primary-white);
}

.service-request {
  padding: 50px;
  background: var(--secondary-white);
}
.service-request .tittle {
  margin-bottom: 30px;
  color: var(--primary-gray);
}
.service-request .tittle h2 {
  line-height: 5px;
}
.service-request p {
  display: inline;
}
.service-request a {
  color: var(--primary-yellow);
}
.service-request a:hover {
  cursor: pointer;
}
.service-request form {
  text-align: right;
  color: var(--primary-gray);
}
.service-request .request-service-button {
  background: none;
  border-radius: 450px;
  font-size: 1rem;
  font-weight: bold;
  border: 4px solid var(--primary-yellow);
  color: var(--primary-yellow);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.service-request .request-service-button:hover {
  color: var(--secondary-white);
  background-color: var(--primary-yellow);
}

input, select, textarea {
  font-family: "Poppins", sans-serif;
  padding: 20px;
  width: 100%;
  padding: 0.8em;
  margin-bottom: 1em;
  border-radius: 0.5em;
  border: none;
  box-sizing: border-box;
}

.first-baseboard {
  background: var(--primary-gray);
  width: 100%;
  padding: 20px 0px;
}
.first-baseboard .container {
  display: grid;
  margin: 5px 20px;
  grid-template-columns: auto minmax(200px, calc(100% - 128px));
  grid-template-rows: auto;
  grid-template-areas: "left right";
  justify-items: end;
  align-items: center;
  background: var(--primary-gray);
}
.first-baseboard .item {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0px 10px;
  color: var(--primary-white);
}
.first-baseboard .item h2 {
  margin: 0;
  text-transform: uppercase;
  font-size: 1rem;
}
.first-baseboard .item p {
  margin: 0;
  font-size: 0.8rem;
}
.first-baseboard .item.logo {
  display: block;
  text-align: center;
  grid-area: left;
  margin-right: 20px;
}
.first-baseboard .item.logo svg {
  width: 100px;
}
.first-baseboard .item.logo h1 {
  margin: 0;
  font-size: 1.25rem;
}
.first-baseboard .left-items {
  display: flex;
  flex-direction: column;
}
.first-baseboard .item.contacts {
  display: block;
  grid-area: right;
  padding-right: 4px;
}
.first-baseboard .item.contacts .number-email {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-template-areas: "top-left top-right" "bottom-left bottom-right";
  justify-items: start;
  align-items: center;
}
.first-baseboard .item.contacts .phone-icon {
  grid-area: top-left;
}
.first-baseboard .item.contacts .phone-number {
  margin-left: 5px;
  grid-area: top-right;
}
.first-baseboard .item.contacts .email-icon {
  grid-area: bottom-left;
}
.first-baseboard .item.contacts .email-address {
  margin-left: 5px;
  grid-area: bottom-right;
}
.first-baseboard .item.address {
  grid-area: right;
}

.second-baseboard {
  padding: 5px 20px;
  font-size: 0.85rem;
  color: var(--tertiary-gray);
  background: var(--primary-black);
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(0px);
  }
  to {
    opacity: 1;
    transform: translateX(30px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(0px);
  }
  to {
    opacity: 1;
    transform: translateX(30px);
  }
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateX(30px);
  }
  to {
    opacity: 0;
    transform: translateX(0px);
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateX(30px);
  }
  to {
    opacity: 0;
    transform: translateX(0px);
  }
}
@-webkit-keyframes stretchRight {
  from {
    padding-right: 0px;
  }
  to {
    padding-right: 30px;
  }
}
@keyframes stretchRight {
  from {
    padding-right: 0px;
  }
  to {
    padding-right: 30px;
  }
}
@-webkit-keyframes stretchLeft {
  from {
    padding-right: 30px;
  }
  to {
    padding-right: 0px;
  }
}
@keyframes stretchLeft {
  from {
    padding-right: 30px;
  }
  to {
    padding-right: 0px;
  }
}/*# sourceMappingURL=main.css.map */