:root {
  --primary-gray: #29292A;
  --secondary-gray: #52544E;
  --tertiary-gray: #6e6e6e;
  --primary-black: #161617;
  --primary-yellow: #DB9619;
  --secondary-yellow: #8F5F08;
  --primary-white: #F6F7F5;
  --secondary-white: #EAECE8;
  --max-height-per-section: 872px;
}

body {
  background: var(--primary-white);
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-tap-highlight-color: transparent;
  min-width: 380px;
}

.background-img {
  position: absolute;
  top: 68;
  background-image: linear-gradient(to bottom, rgba(41, 41, 42, 0.9058823529), rgba(41, 41, 42, 0.9058823529)), url("data:image/svg+xml,%3Csvg width='131' height='131' viewBox='0 0 131 131' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M31 0H51V131H31V0Z' fill='%23D9D9D9'/%3E%3Cpath d='M0 54V34H131V54H0Z' fill='%23D9D9D9'/%3E%3Cpath d='M78 0H98V131H78V0Z' fill='%23D9D9D9'/%3E%3Cpath d='M0 102V82H131V102H0Z' fill='%23D9D9D9'/%3E%3C/svg%3E%0A");
  /*background:
  linear-gradient(to bottom,  #29292ab2, #29292ab2),
  url('../images/BackgroundImg.jpg');*/
  width: 100%;
  min-width: 380px;
  height: var(--max-height-per-section);
  z-index: -1;
}

nav {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 70%;
  z-index: 2;
  background-color: var(--secondary-white);
  filter: drop-shadow(0px 0px 5px rgba(41, 41, 42, 0.1568627451));
  transform: translateX(100%);
  transition: transform 0.5s ease-out;
}

.open-nav {
  transform: translateX(0%);
}

.close-menu-btn {
  float: right;
  width: 32px;
  margin: 20px 40px;
  cursor: pointer;
}

.primary-nav {
  margin-top: 96px;
}

ul {
  list-style-type: none;
  padding: 0;
}
ul a {
  color: var(--primary-gray);
  font-size: 1.25rem;
  padding: 21px 32px;
  display: block;
  text-decoration: none;
}
ul a:hover {
  -webkit-text-decoration: underline var(--primary-yellow);
          text-decoration: underline var(--primary-yellow);
}
ul button {
  width: calc(100% - 64px);
  color: var(--secondary-white);
  cursor: pointer;
  padding: 21px 32px;
  margin: 21px 0px 21px 32px;
  border-radius: 45px;
  font-weight: bold;
  font-size: 20px;
  border: none;
  background: var(--primary-yellow);
}
ul button:hover {
  filter: grayscale(0.2);
}

header {
  background: var(--secondary-white);
  padding: 20px 36px;
}
header .container {
  display: flex;
  place-content: space-between;
  align-items: center;
  left: 0;
}
header .container a {
  display: flex;
}
header .container a img {
  width: 60px;
}
header .container .open-menu-btn {
  float: right;
  cursor: pointer;
}

.hero {
  display: flex;
  justify-content: center;
  text-align: center;
  height: var(--max-height-per-section);
}
.hero .container {
  padding-top: 250px;
}
.hero h1 {
  font-size: 5rem;
  text-transform: uppercase;
  margin: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  line-height: 66px;
  color: var(--primary-white);
}
.hero h1 .first-text {
  filter: drop-shadow(4px 5px 0px var(--tertiary-gray));
}
.hero h1 .middle-text {
  font-size: 2.58rem;
}
.hero h1 .last-text {
  color: var(--primary-yellow);
  filter: drop-shadow(4px 5px 0px var(--secondary-yellow));
}
.hero .services-button {
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 10px;
  border: 10px solid var(--primary-yellow);
  background: var(--primary-yellow);
  margin: 20px auto;
  align-items: center;
  justify-content: end;
  -webkit-animation: stretchLeft 0.3s ease-out 0s 1 normal forwards;
          animation: stretchLeft 0.3s ease-out 0s 1 normal forwards;
}
.hero .services-button p {
  margin: 0;
  color: var(--primary-white);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.3rem;
}
.hero .services-button svg {
  position: absolute;
  -webkit-animation: fadeOut 0.3s ease-out 0s 1 normal forwards;
          animation: fadeOut 0.3s ease-out 0s 1 normal forwards;
}
.hero .services-button:hover {
  cursor: pointer;
  -webkit-animation: stretchRight 0.3s ease-out 0s 1 normal forwards;
          animation: stretchRight 0.3s ease-out 0s 1 normal forwards;
}
.hero .services-button:hover svg {
  -webkit-animation: fadeIn 0.3s ease-out 0s 1 normal forwards;
          animation: fadeIn 0.3s ease-out 0s 1 normal forwards;
}

.services {
  margin-bottom: 150px;
  width: 100%;
  text-align: center;
}
.services h2 {
  text-transform: uppercase;
  font-size: 2.5rem;
  margin-bottom: -30px;
}
.services .services-list {
  margin-top: 96px;
}
.services .services-line {
  position: absolute;
  transform: translateX(-128px);
  z-index: -1;
}
.services .services-line2 {
  display: none;
  position: absolute;
}
.services .service-item {
  display: flex;
  align-items: center;
  text-align: left;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 20px auto;
}
.services .service-item .icon {
  display: flex;
  width: 100px;
  height: 100px;
  min-width: 100px;
  border-radius: 200px;
  border: 5px solid var(--primary-yellow);
  background: var(--primary-white);
  justify-content: center;
  align-items: center;
}
.services .service-item .icon svg {
  width: 60px;
  height: 60px;
}
.services .service-item p {
  text-transform: uppercase;
  margin-left: 30px;
  font-size: 1.25rem;
  min-width: 220px;
}
.services .service-item:hover {
  cursor: pointer;
}
.services .service-item:hover .icon {
  background: var(--primary-yellow);
}
.services .service-item:hover .icon > svg > path { /*target the image with css*/
  fill: var(--primary-white);
}

.service-request {
  padding: 50px;
  background: var(--secondary-white);
}
.service-request .tittle {
  margin-bottom: 30px;
  color: var(--primary-gray);
}
.service-request .tittle h2 {
  line-height: 5px;
}
.service-request p {
  display: inline;
}
.service-request a {
  color: var(--primary-yellow);
}
.service-request a:hover {
  cursor: pointer;
}
.service-request form {
  text-align: right;
  color: var(--primary-gray);
}
.service-request .request-service-button {
  background: none;
  border-radius: 450px;
  padding: 0px 10px;
  font-size: 1rem;
  font-weight: bold;
  border: 4px solid var(--primary-yellow);
  color: var(--primary-yellow);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.service-request .request-service-button:hover {
  color: var(--secondary-white);
  background-color: var(--primary-yellow);
}

input, select, textarea {
  font-family: "Poppins", sans-serif;
  padding: 20px;
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  border: none;
  box-sizing: border-box;
}

.first-baseboard {
  background: var(--primary-gray);
  width: 100%;
  padding: 20px 0px;
  /*.left-items {
      display: flex;
      flex-direction: column;
  }*/
}
.first-baseboard .container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-template-areas: "left top-right" "left bottom-right";
  justify-content: space-around;
  margin: 5px 30px;
  background: var(--primary-gray);
}
.first-baseboard .item {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0px 10px;
  color: var(--primary-white);
}
.first-baseboard .item h2 {
  margin: 0;
  text-transform: uppercase;
  font-size: 1rem;
}
.first-baseboard .item p {
  margin: 0;
  font-size: 0.7rem;
}
.first-baseboard .item.logo {
  grid-area: left;
  display: block;
  text-align: center;
  margin-right: 20px;
  margin-top: 10px;
}
.first-baseboard .item.logo svg {
  width: 100px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.first-baseboard .item.logo h1 {
  margin: 0;
  font-size: 1.25rem;
}
.first-baseboard .item.contacts {
  grid-area: top-right;
  display: block;
  padding-right: 4px;
}
.first-baseboard .item.contacts .number-email {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-template-areas: "top-left top-right" "bottom-left bottom-right";
  justify-items: start;
  align-items: center;
}
.first-baseboard .item.contacts .phone-icon {
  grid-area: top-left;
}
.first-baseboard .item.contacts .phone-number {
  margin-left: 5px;
  grid-area: top-right;
}
.first-baseboard .item.contacts .email-icon {
  grid-area: bottom-left;
}
.first-baseboard .item.contacts .email-address {
  margin-left: 5px;
  grid-area: bottom-right;
}
.first-baseboard .item.address {
  grid-area: bottom-right;
}

.second-baseboard {
  padding: 5px 20px;
  font-size: 0.67rem;
  color: var(--tertiary-gray);
  background: var(--primary-black);
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(0px);
  }
  to {
    opacity: 1;
    transform: translateX(30px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(0px);
  }
  to {
    opacity: 1;
    transform: translateX(30px);
  }
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateX(30px);
  }
  to {
    opacity: 0;
    transform: translateX(0px);
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateX(30px);
  }
  to {
    opacity: 0;
    transform: translateX(0px);
  }
}
@-webkit-keyframes stretchRight {
  from {
    padding-right: 0px;
  }
  to {
    padding-right: 30px;
  }
}
@keyframes stretchRight {
  from {
    padding-right: 0px;
  }
  to {
    padding-right: 30px;
  }
}
@-webkit-keyframes stretchLeft {
  from {
    padding-right: 30px;
  }
  to {
    padding-right: 0px;
  }
}
@keyframes stretchLeft {
  from {
    padding-right: 30px;
  }
  to {
    padding-right: 0px;
  }
}
@media only screen and (min-width: 807px) {
  .open-menu-btn, .close-menu-btn {
    display: none;
  }
  a.logo {
    display: flex;
  }
  header {
    display: flex;
    justify-content: center;
  }
  header .container {
    display: grid;
    grid-template-columns: minmax(0px, 100px) minmax(auto, 1350px);
    justify-content: unset;
    margin: 0;
  }
  header .container .logo {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  nav {
    transform: translateX(0%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: none;
    position: unset;
    width: 100%;
    height: 20px;
    padding: 0;
    margin: 0;
  }
  nav ul {
    display: flex;
  }
  nav ul.primary-nav {
    margin: 0;
  }
  nav a {
    padding: 0px 5px;
    margin: 0;
    font-size: 1rem;
  }
  nav .current a {
    font-weight: bold;
  }
  nav button {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    color: var(--primary-yellow);
    cursor: pointer;
    padding: 6px 20px;
    margin: 0px 5px;
    border-radius: 45px;
    font-weight: bold;
    font-size: 1rem;
    border: 4px solid var(--primary-yellow);
    background: none;
  }
  nav button:hover {
    filter: none;
    color: var(--primary-white);
    background: var(--primary-yellow);
  }
  .hero {
    justify-content: left;
    text-align: left;
  }
  .hero .container {
    padding-left: 20vw;
  }
  .hero .services-button {
    margin-left: 0;
  }
  .service-request {
    display: grid;
    justify-content: center;
    grid-template-columns: minmax(20px, 1350px);
  }
  .service-request input, .service-request select, .service-request textarea {
    margin-bottom: 0;
  }
  .service-request form {
    margin: 0;
    display: grid;
    gap: 10px 10px;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    grid-template-areas: "name name email email" "services services localities date" "message message message message" ". . . button";
  }
  .service-request form .name {
    grid-area: name;
  }
  .service-request form .email {
    grid-area: email;
  }
  .service-request form .services-select {
    grid-area: services;
  }
  .service-request form .localities {
    grid-area: localities;
  }
  .service-request form .date {
    grid-area: date;
  }
  .service-request form .message {
    grid-area: message;
  }
  .service-request form .request-service-button {
    grid-area: button;
    justify-self: right;
  }
  .first-baseboard {
    display: flex;
  }
  .first-baseboard .container {
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-template-areas: "left middle right";
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  .first-baseboard .item.logo {
    grid-area: left;
    margin-right: 20px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .first-baseboard .item.logo svg {
    width: 128px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .first-baseboard .item.logo h1 {
    margin: 0;
    font-size: 2rem;
  }
  .first-baseboard .item svg {
    width: 15px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .first-baseboard .item h2 {
    font-size: 1.5rem;
  }
  .first-baseboard .item p {
    font-size: 1rem;
  }
  .first-baseboard .item.address {
    grid-area: middle;
  }
  .first-baseboard .item.contacts {
    grid-area: right;
  }
  .second-baseboard {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1020px) {
  .services .services-line {
    display: none;
  }
  .services .services-line2 {
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 650px;
    transform: translateX(230px) translateY(60px);
    z-index: -1;
  }
  .services .services-list {
    margin: 20px 20%;
  }
  .services li {
    display: grid;
    align-items: center;
    grid-template-columns: minmax(auto, 80px) minmax(auto, 80px) minmax(auto, 80px) minmax(auto, 80px);
    grid-template-rows: auto;
    grid-template-areas: "build . . ." ". refurbishments . ." ". . specialties ." ". . . technical-assistance";
  }
  .services .service-item {
    margin: 10px;
  }
  .services .service-item.build {
    grid-area: build;
  }
  .services .service-item.refurbishments {
    grid-area: refurbishments;
  }
  .services .service-item.specialties {
    grid-area: specialties;
  }
  .services .service-item.technical-assistance {
    grid-area: technical-assistance;
  }
}/*# sourceMappingURL=main.css.map */